/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/*
 * KEYMAP REFERENCE SHEET
 * ======================
 * 
 * LAYERS:
 * -------
 * Layer 0 (Default): QWERTY layout
 * Layer 1 (Lower):   Numbers, Bluetooth controls, navigation arrows
 * Layer 2 (Raise):   Symbols, special characters, text formatting
 * Layer 3 (Layer4):  Gaming layer with numpad and gaming keys
 * 
 * LAYER ACCESS:
 * -------------
 * LWR (Left)  = &mo 1  (momentary lower layer)
 * RSE (Right) = &mo 2  (momentary raise layer)
 * LWR + RSE   = &tog 3 (toggle layer 3 - gaming layer on/off)
 * 
 * LAYER 3 (GAMING) LAYOUT:
 * ------------------------
 * Left Side:                     Right Side:
 * TAB   1     2     3     4   5   NP7  NP8  NP9  J     -    -
 * X     Q     W     E     R   X   NP4  NP5  NP6  M     -    -
 * SHFT  A     S     D     F   V   NP1  NP2  NP3  N     -    -
 *             C    LWR   SPC         RET  RSE   ALT
 * 
 * COMBO SHORTCUTS:
 * ----------------
 * LWR + RSE (positions 36,39): Toggle Layer 3 (gaming mode)
 *
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        combos {
                compatible = "zmk,combos";
                combo_layer4 {
                        timeout-ms = <50>;
                        key-positions = <36 39>;
                        bindings = <&tog 3>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        display-name = "Default Layer";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
                  &kp LGUI &mo 1 &kp SPACE   &kp RET &mo 2 &kp RALT
                        >;
                };
                lower_layer {
                        display-name = "Lower Layer";
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp TAB    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &kp BSPC
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
   &kp LSHFT  &trans       &trans       &trans       &trans       &trans         &trans   &trans   &trans &trans    &trans &trans
                                    &kp LGUI     &trans       &kp SPACE      &kp RET  &trans   &kp RALT
                        >;
                };

                raise_layer {
                        display-name = "Raise Layer";
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &kp BSPC
   &kp LCTRL &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT &kp BSLH &kp GRAVE
   &kp LSHFT &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC &kp PIPE &kp TILDE
                             &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
                        >;
                };

                layer4 {
                        display-name = "Layer4";
                        bindings = <
   &kp TAB   &kp N1 &kp N2 &kp N3 &kp N4 &kp N5     &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp J     &trans &trans
   &kp X     &kp Q  &kp W  &kp E  &kp R  &kp X      &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp M     &trans &trans
   &kp LSHFT &kp A  &kp S  &kp D  &kp F  &kp V      &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp N     &trans &trans
                    &kp C  &mo 1 &kp SPACE         &kp RET   &mo 2     &kp RALT
                        >;
                };
        };
};
